<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="0">
    <test verbose="0" name="OpenCart">
        <classes>
            <class name="testcases.Login">
                <methods>
                    <include name="verifyLoginWithValidCredentials"/>
                    <include name="verifyLoginWithInvalidCredentials"/>
                    <include name="verifyLoginWithValidEmailAndInvalidPasswordCredentials"/>
                    <include name="verifyLoginWithInvalidEmailAndValidPasswordCredentials"/>
                    <include name="verifyLoginWithoutCredentials"/>
                </methods>
            </class>
            <class name="testcases.Register">
                <methods>
                    <include name="verifyRegisteringAnAccountWithMandatoryFields"/>
                    <include name="verifyRegisteringAnAccountWithExistingEmailAddress"/>
                    <include name="verifyRegisteringAnAccountWithoutFillingAnyDetails"/>
                </methods>
            </class>
            <class name="testcases.Search">
                <methods>
                    <include name="verifySearchWithValidProduct"/>
                    <include name="verifySearchWithInvalidProduct"/>
                    <include name="verifySearchWithoutAnyProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>